body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul {
  padding-left: 30px;
}

.board {
  /* border: 5px solid #D52A2A; */
  width: 80%;
}

.header {
  background: #2C3539;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.desktop {
  display: grid;
  /* border: 5px solid #D52A2A; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 1%;
}

.taskCard {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin: 0 auto;
  width: 90%;
  margin-top: 8px;
  text-align: left;
}

.taskTitle {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 24px;
}

.taskContent {
  border-color: Transparent;
  min-width:100%;
  max-width:100%;
  box-sizing: border-box;
  font-size: 16px;
}

.subBoard {
  background: #C0C0C0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-top: 15px;
  margin-left: 1%;
  /* padding: 0; */
  text-align: center;
  width: 32%;
  min-height: 105px;
}

.subBoardContent  {
  background: #C0C0C0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 105px;
}

.subBoardName {
  height: 35 px;
  vertical-align: middle;
  margin-top: 5px;
}

.taskCount {
  position: relative;
  height: 20px;
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
}

.taskRow {
  margin-top: 5px;
  margin: 0 auto;
  width: 100%;
}

.buttonDiv {
  position: relative;
  height: 50px;
  width: 100%;
}

.addTaskButton {
  font-size: 15px;
  height: 34px;
  width: 90%;
  margin-top: 8px;
}